html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: " ";
  content: none;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  display: inline-block;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

html::-webkit-scrollbar {
  background-color: #fff;
  width: 5px;
}
html::-webkit-scrollbar-thumb {
  background-color: #47A3C7;
  width: 3px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  background: #F0F0F3;
  color: #0F161D;
}
body.no_scroll {
  overflow: hidden;
  height: 100vh;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1104px;
  width: 100%;
  margin: 0 auto;
}

.container-fluid {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

section {
  margin-bottom: 80px;
}

ul {
  list-style: none;
}

h1 {
  color: #0F161D;
  text-align: center;
  font-family: "Montserrat";
  font-size: 80px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -4.8px;
  text-transform: uppercase;
}

h2 {
  color: #0F161D;
  font-family: "Montserrat";
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 54px;
  /* 112.5% */
  letter-spacing: -1.92px;
}

p {
  color: #0F161D;
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 137.5% */
}

.btn {
  display: inline-flex;
  padding: 18px 32px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 100px;
  color: #fff;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  background: linear-gradient(90deg, #47A3C7, #A3DBEB, #47A3C7);
  background-size: 200% 100%;
  background-position: left center;
  transition: background-position 0.3s ease;
}

.btn:hover {
  background-position: right center;
  color: #fff;
}

.input_block {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
}

input,
textarea {
  display: flex;
  width: 404px;
  padding: 18px 24px;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  border: 1px solid #D2D6DC;
  outline: none;
  background: #FFF;
  transition: all 0.3s ease;
  color: #0F161D;
  text-align: left;
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
}

textarea {
  height: 120px;
  border-radius: 16px;
  resize: none;
}

input::placeholder,
textarea::placeholder {
  color: #0F161D;
  text-align: left;
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
  opacity: 0.6;
}

input:hover,
textarea:hover {
  border: 1px solid #A5AAB0;
}

input:focus,
textarea:focus {
  border: 1px solid #47A3C7;
}

input.error,
textarea.error {
  border: 1px solid #FF1E00;
}

p.error {
  color: #FF1E00;
  text-align: center;
  font-family: "Montserrat";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  /* 133.333% */
}

.badge {
  display: inline-flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  border: 2px solid #7ADAFF;
  color: #0F161D;
  text-align: center;
  font-family: "Montserrat";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  /* 133.333% */
  margin-bottom: 32px;
}

.swiper_btn {
  border-radius: 100px;
  border: 1px solid #F0F0F3;
  background-color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  transition: all 0.3s ease;
}
.swiper_btn:hover {
  background-color: #F0F0F3;
  border-color: #fff;
}
.swiper_btn.prev {
  transform: rotate(-180deg);
}
.swiper_btn.swiper-button-disabled {
  cursor: default;
  background: #F0F0F3;
}

.card {
  min-height: 763px;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  background: #FFF;
}
.card_header {
  padding: 8px;
}
.card_img {
  width: 100%;
  height: 260px;
  border-radius: 16px;
  overflow: hidden;
}
.card_img img {
  width: 100%;
  height: 100%;
}
.card_body {
  height: 100%;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
}
.card_body ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.card_body li {
  display: flex;
  gap: 8px;
  align-items: flex-start;
}
.card_body span {
  color: #0F161D;
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
}
.card_title {
  color: #0F161D;
  font-family: "Montserrat";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  /* 116.667% */
  margin-bottom: 5px;
}
.card_caption {
  color: #0F161D;
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 137.5% */
  margin-bottom: 16px;
}
.card_logos {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 16px;
}
.card_footer {
  padding: 0 24px 24px;
  margin-top: auto;
}
.card_date {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #0F161D;
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 137.5% */
}
.card_more {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid #F0F0F3;
  background-color: #FFF;
  padding: 12px;
  transition: all 0.3s ease;
}
.card_more:hover {
  background-color: #F0F0F3;
  border-color: #fff;
}

.swiper-slide {
  width: 295px;
}

.swiper {
  width: 100%;
  border-radius: 24px;
}

/**
* MODAL 
*/
/* ==== CORE ==== */
.modal_container {
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
  z-index: 9999;
  pointer-events: none;
  /* yopiq holatda klik o'tmasin */
  opacity: 0;
  transition: opacity 0.25s ease;
}

.modal_container.is_open {
  pointer-events: auto;
  opacity: 1;
}

.modal_backdrop {
  position: absolute;
  inset: 0;
  background: rgba(15, 22, 29, 0.9);
  opacity: 0;
  transition: opacity 0.25s ease;
}

.modal_container.is_open .modal_backdrop {
  opacity: 1;
}

.modal_dialog {
  position: relative;
  width: min(92vw, 304px);
  max-height: 86vh;
  border-radius: 24px;
  border: 1px solid #D2D6DC;
  background: #FFF;
  padding: 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transform: translateY(12px) scale(0.98);
  opacity: 0;
  transition: transform 0.28s ease, opacity 0.28s ease;
}

.modal_container.is_open .modal_dialog {
  transform: translateY(0) scale(1);
  opacity: 1;
}

/* ==== SECTIONS ==== */
.modal_header,
.modal_footer {
  padding: 16px 20px;
  background: #fff;
}

.modal_message {
  display: inline-flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  margin-bottom: 24px;
}
.modal_message.success {
  background: linear-gradient(90deg, #47A3C7 0%, #A3DBEB 100%);
}

.modal_title {
  color: #0F161D;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  /* 116.667% */
  margin-bottom: 8px;
}

.modal_text {
  color: #0F161D;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 137.5% */
}

.modal_body {
  padding: 32px 2px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ==== CLOSE BUTTON ==== */
.close {
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  border-radius: 100px;
  border: 1px solid #F0F0F3;
  background-color: #FFF;
  color: #ffffff;
  /* oddiy oq rang */
  font-size: 28px;
  line-height: 1;
  padding: 12px;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.close:hover {
  background-color: #F0F0F3;
}

/* ==== DEMO BUTTONLAR (ixtiyoriy) ==== */
.btn_open_modal,
.btn_close_modal,
.btn_primary {
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #d0d7de;
  background: #fff;
  cursor: pointer;
}

.btn_primary {
  background: #0d6efd;
  color: #fff;
  border-color: #0d6efd;
}

.hero {
  background: linear-gradient(180deg, #EAFAFF 0%, rgba(231, 230, 237, 0) 100%);
}
.hero_block {
  position: relative;
  padding: 170px 0 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero_block h1 {
  margin-bottom: 8px;
  color: #0F161D;
  text-align: center;
  font-family: "Montserrat";
  font-size: 80px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -4.8px;
  text-transform: uppercase;
}
.hero_block h3 {
  margin-bottom: 40px;
  color: #0F161D;
  text-align: center;
  font-family: "Montserrat";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.hero_bg {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: -1;
  left: 0;
  overflow: hidden;
}
.hero_bg::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #F0F0F3;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.hero_bg video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* fon kabi qilsin */
  object-position: center;
  display: block;
  outline: none;
  background: none;
  clip-path: inset(0px);
  backface-visibility: hidden;
}
.hero_bg video::-webkit-media-controls {
  display: none !important;
}

.header {
  padding-top: 40px;
}
.header .hamburger_menu {
  display: none;
}
.header_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_menus {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header_menus a {
  color: #0F161D;
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all 0.3s ease;
}
.header_menus a:hover {
  opacity: 0.7;
}
.header_logo img {
  width: 260px;
}
.header_contact {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header_contact a {
  color: #0F161D;
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all 0.3s ease;
}
.header_contact a:hover {
  opacity: 0.7;
}
.header_icons {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #4DA7C9;
  padding: 40px 0;
}
.footer_desc {
  color: #0F161D;
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer_menus {
  display: flex;
  align-items: center;
  gap: 24px;
}
.footer_menus a {
  color: #0F161D;
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all 0.3s ease all;
}
.footer_menus a:hover {
  opacity: 0.7;
}
.footer_icons {
  display: flex;
  align-items: center;
}

.about_main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
}
.about_card {
  padding: 48px;
  gap: 48px;
  border-radius: 24px;
  background: #FFF;
}
.about_left {
  display: flex;
  flex-direction: column;
  max-width: 455px;
  width: 100%;
}
.about h2 {
  margin-bottom: 24px;
}
.about p {
  margin-bottom: 32px;
}

.steps_block {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}

.step {
  height: 100%;
  border-radius: 24px;
  background: linear-gradient(180deg, #4CA6C9 0%, #FFF 100%);
  padding: 32px;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 48px;
}
.step_number {
  font-family: "Montserrat";
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 54px; /* 84.375% */
  letter-spacing: -2.56px;
  background: linear-gradient(90deg, #FFF 0%, #A3DBEB 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.step_body {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.step_title {
  color: #0F161D;
  font-family: "Montserrat";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 122.222% */
}
.step_text {
  color: #0F161D;
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
}

.mission .badge {
  background-color: #fff;
}
.mission_main {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 16px;
}
.mission_right {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.mission_text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.team_block {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.team_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}
.team_buttons {
  display: flex;
  gap: 16px;
  align-items: center;
}

.contact_card {
  border-radius: 24px;
  padding: 48px;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 10px;
  position: relative;
  overflow: hidden;
}
.contact_card_bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.contact_card_bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contact_card h2 {
  margin-bottom: 16px;
}
.contact_card p {
  margin-bottom: 24px;
}
.contact_card_arrow {
  margin-bottom: 24px;
}
.contact_card_infos {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.contact_card_infos li {
  display: flex;
  align-items: center;
  gap: 16px;
}
.contact_card_infos a {
  color: #0F161D;
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  /* 137.5% */
}
.contact_card_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 100px;
  border: 1px solid #F0F0F3;
  background: #FFF;
}
.contact_card_form_block input,
.contact_card_form_block textarea {
  width: 100%;
  margin-bottom: 16px;
}
.contact_card_form_block button {
  width: 100%;
  margin-bottom: 24px;
}

@media (max-width: 1920px) {
  .container {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .hero_list ul {
    gap: 40px;
  }
  .header_logo {
    gap: 15px;
  }
  .header_menus {
    gap: 15px;
  }
  .models .tabs_block {
    width: 80%;
  }
  .models .model_card {
    width: 100%;
    padding: 15px 44px;
  }
  .models .model_card .card_img img {
    width: 300px;
  }
  .credit_button {
    width: 100%;
  }
  .credit_button a {
    display: inline-block;
    width: 100%;
    padding: 16px;
  }
  .equipment .card_img img {
    width: 250px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .header_logo .map {
    display: none;
  }
  .header_menus_wrapper {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    z-index: 998;
  }
  .header_menus_wrapper .header_menus_block {
    position: absolute;
    z-index: 1000;
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
    padding: 0 0 20px;
    background: linear-gradient(270deg, #4C5865 -23.69%, #2E3A47 74.77%);
    transform: translateX(100%);
    opacity: 0;
    transition: all 0.3s ease;
  }
  .header_menus_wrapper .header_menus_block .header_logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 0;
    position: relative;
  }
  .header_menus_wrapper .header_menus_block .header_logo::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFF 26.94%, #FFF 71.22%, rgba(255, 255, 255, 0) 100%);
  }
  .header_menus_wrapper .header_menus_block .header_logo .map {
    display: none;
  }
  .header_menus_wrapper .header_menus_block .header_logo .phone {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #FFF;
    font-family: "Open Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 235.609%; /* 28.273px */
    text-transform: uppercase;
  }
  .header_menus_wrapper .header_backdrop {
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all 0.3s ease;
  }
  .header_menus_wrapper.active {
    pointer-events: auto;
  }
  .header_menus_wrapper.active .header_menus_block {
    transform: translateX(0);
    opacity: 1;
  }
  .header_menus_wrapper.active .header_backdrop {
    opacity: 1;
  }
  .header_block {
    justify-content: space-between;
  }
  .header .hamburger_menu {
    display: block;
  }
  .header_menus {
    flex-direction: column;
    align-items: flex-start;
    max-width: 720px;
    margin: 18px auto;
  }
  .header_menus a.active {
    color: #FF8743;
    font-weight: 700;
  }
  .header_menus a:hover {
    opacity: 1;
  }
  .header_menus .last_li {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-top: 25px;
  }
  .header_menus .last_li .phone_btn {
    border-radius: 37px;
    background: #FF8743;
    padding: 10px;
    width: 100%;
    text-align: center;
  }
  .hero_list ul {
    flex-wrap: wrap;
  }
  .models .model_card {
    flex-wrap: wrap;
    gap: 30px;
  }
  .credit_list {
    display: none;
  }
  .credit .credit_swiper {
    display: block;
  }
  .credit .swiper {
    height: 674px;
  }
  .credit .swiper-slide {
    height: calc(100% - 38px);
  }
  .credit .credit_item {
    height: 100%;
    width: 100%;
  }
  .credit .credit-pagination {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 10;
    gap: 10px;
  }
  .credit .credit-pagination .swiper-pagination-bullet {
    border-radius: 26px;
    width: 80px;
    height: 8px;
    background: #222021;
    opacity: 0.2;
  }
  .credit .credit-pagination .swiper-pagination-bullet-active {
    background: #FF8743;
    opacity: 1;
  }
  .equipment_card {
    flex-wrap: wrap;
    gap: 30px;
  }
  .equipment_card .card_right {
    width: 100%;
    align-items: flex-start;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .hero_title h1 {
    font-size: 32px;
  }
  .hero_title h2 {
    font-size: 28px;
  }
  .hero_list li {
    font-size: 20px;
  }
  .header_menus {
    max-width: 540px;
  }
  .equipment_card .card_left {
    margin: 0;
  }
}
@media (max-width: 576px) {
  .select2-container {
    width: calc(50% - 8px) !important;
  }
  .select2-selection {
    border: none !important;
  }
  .select2-selection__rendered {
    position: relative;
    width: auto;
    border-radius: 26px;
    border: 1px solid rgba(76, 88, 101, 0.26);
    color: #4C5865;
    font-family: "Open Sans";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal !important;
    padding: 12px 14px !important;
  }
  .select2-container--open .select2-selection__rendered {
    border-radius: 26px 26px 0 0;
    color: #4C5865;
    font-family: "Open Sans";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .select2-container--open .select2-dropdown {
    top: 10px;
    border-radius: 0 0 26px 26px;
    border: 1px solid rgba(76, 88, 101, 0.26);
  }
  .select2-results__option {
    padding: 4px 7px;
    color: #4C5865;
    font-family: "Open Sans";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
  }
  .select2-results__options {
    display: flex;
    flex-direction: column;
    padding: 12px 0 20px;
  }
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
  .custom_modal_content {
    margin: 50px auto;
  }
  #offers_modal h3 {
    font-size: 21px;
  }
  #offers_modal p {
    font-size: 14px;
    line-height: normal;
    margin-bottom: 23px;
  }
  #offers_modal p br {
    display: none;
  }
  #offers_modal .modal_rotate {
    width: 100%;
    height: 237px;
    top: unset;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(180deg, rgba(34, 31, 32, 0) 0.07%, rgba(34, 31, 32, 0.5) 34.65%, #221F20 100%), linear-gradient(180deg, rgba(56, 68, 81, 0) 2.33%, #2E3A47 40.39%);
  }
  #offers_modal .custom_modal_content {
    width: 320px;
    height: 360px;
    padding: 12px 20px;
    background-image: none;
  }
  #offers_modal .custom_modal_content .modal_mobile_bg {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -2;
  }
  #offers_modal .custom_modal_body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
  }
  #offers_modal form {
    align-items: flex-start;
  }
  #offers_modal .credit_formInfo {
    max-width: 100%;
    flex-direction: row;
    margin-bottom: 10px;
  }
  #offers_modal .credit_formInfo input {
    padding: 6px 15px;
    font-size: 11px;
    margin: 0;
  }
  #offers_modal .credit_formInfo input::placeholder {
    font-size: 11px;
  }
  #offers_modal .credit_button {
    width: 100%;
    max-width: 100%;
  }
  #offers_modal .credit_button a {
    padding: 8px;
    font-size: 12px;
    width: 100%;
    text-align: center;
  }
  #credit_modal h3 {
    font-size: 21px;
    text-align: left;
  }
  #credit_modal p {
    font-size: 14px;
    line-height: normal;
    margin-bottom: 23px;
  }
  #credit_modal p br {
    display: none;
  }
  #credit_modal .modal_rotate {
    width: 100%;
    height: 237px;
    top: unset;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(180deg, rgba(34, 31, 32, 0) 0.07%, rgba(34, 31, 32, 0.5) 34.65%, #221F20 100%), linear-gradient(180deg, rgba(56, 68, 81, 0) 2.33%, #2E3A47 40.39%);
  }
  #credit_modal .custom_modal_content {
    width: 320px;
    height: 360px;
    padding: 12px 20px;
    background-image: none;
  }
  #credit_modal .custom_modal_content .modal_mobile_bg {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -2;
  }
  #credit_modal .custom_modal_body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
  }
  #credit_modal form {
    align-items: flex-start;
  }
  #credit_modal .credit_formInfo {
    max-width: 100%;
    flex-direction: row;
    margin-bottom: 10px;
  }
  #credit_modal .credit_formInfo input {
    padding: 6px 15px;
    font-size: 11px;
    margin: 0;
  }
  #credit_modal .credit_formInfo input::placeholder {
    font-size: 11px;
  }
  #credit_modal .credit_button {
    width: 100%;
    max-width: 100%;
  }
  #credit_modal .credit_button a {
    padding: 8px;
    font-size: 12px;
    width: 100%;
    text-align: center;
  }
  .hero {
    height: 480px;
    background: url(../images/hero_banner_mobile.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position-y: 109px;
  }
  .hero_block {
    margin-top: 20px;
    position: relative;
    z-index: 1;
  }
  .hero_title {
    margin-bottom: 24px;
  }
  .hero_title h1 {
    font-size: 23px;
    padding: 0;
    width: 100%;
    background: unset;
    text-align: center;
  }
  .hero_title h2 {
    font-size: 18px;
    text-align: center;
    text-transform: lowercase;
  }
  .hero_list {
    padding: 0;
    background: unset;
  }
  .hero_list ul {
    gap: 22px 0;
    justify-content: space-between;
    display: grid;
    grid-template-columns: auto auto;
  }
  .hero_list li {
    font-size: 15px;
    line-height: 16px;
  }
  .hero_list li:nth-child(2) {
    order: 3;
  }
  .hero_list li:nth-child(3) {
    order: 2;
  }
  .hero_list li:nth-child(4) {
    order: 4;
  }
  .hero_list li span {
    white-space: nowrap;
  }
  .hero_button.desktop {
    display: none;
  }
  .hero_button.mobile {
    display: block;
  }
  .hero_button a {
    font-size: 11px;
    padding: 7px 20px;
    text-align: center;
  }
  .hero_list li img {
    width: 30px;
  }
  .header {
    background-color: #171A1B;
    position: relative;
  }
  .header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 380px;
    background: linear-gradient(180deg, #161616 23.92%, rgba(22, 22, 22, 0.9) 38.23%, rgba(22, 22, 22, 0.7) 54.37%, rgba(22, 22, 22, 0.4) 74.13%, rgba(22, 22, 22, 0) 100%);
  }
  .header_block {
    padding: 18px 0;
    position: relative;
    z-index: 2;
  }
  .header_block::after {
    content: "";
    z-index: 1;
    left: -20px;
    bottom: -1px;
    display: block;
    height: 0.5px;
    width: calc(100% + 40px); /* yoki 360px */
    background: linear-gradient(to left, rgb(255, 255, 255), rgba(255, 255, 255, 0));
  }
  .header_logo .logo img {
    width: 125px;
  }
  .header_phone a {
    font-size: 12px;
  }
  .header_phone a img {
    width: 12px;
  }
  .header_menus {
    max-width: 100%;
    padding: 0 20px;
  }
  .header_menus a {
    font-size: 15px;
  }
  .header_menus_wrapper .header_menus_block .header_logo {
    padding: 17px 20px;
  }
  .header_menus_wrapper .header_menus_block .header_logo .phone img {
    width: 12px;
  }
  .header_menus_wrapper .header_menus_block .header_logo::after {
    content: "";
    left: -20px;
    display: block;
    height: 0.6px;
    width: calc(100% + 40px);
    background: linear-gradient(to left, rgb(255, 255, 255), rgba(255, 255, 255, 0));
  }
  .models h2 {
    font-size: 26px;
  }
  .models .tabs_block {
    width: 90%;
    margin: 0 auto;
  }
  .models .tabs_block .tabs {
    margin: 0 auto;
    justify-content: center;
  }
  .models .tabs_block .tabs li {
    font-size: 12px;
    padding-left: 8px;
    padding-right: 8px;
  }
  .models .tabs_block .swiper-slide {
    font-size: 12px;
    padding-left: 8px;
    padding-right: 8px;
  }
  .models .tabs_block .tab_next {
    right: -20px;
  }
  .models .tabs_block .tab_next img {
    width: 16px;
  }
  .models .tabs_block .tab_prev {
    left: -20px;
  }
  .models .tabs_block .tab_prev img {
    width: 16px;
  }
  .models .model_card {
    padding: 11px;
    gap: 0;
    background-image: url("../images/model_card_mobile.png");
  }
  .models .model_card .card_left h3 {
    font-size: 26px;
  }
  .models .model_card .card_left ul {
    margin-bottom: 8px;
  }
  .models .model_card .card_left li {
    font-size: 14px;
    gap: 12px;
  }
  .models .model_card .card_left li img {
    width: 16px;
  }
  .models .model_card .card_brand {
    left: -27px;
  }
  .models .model_card .card_brand img {
    width: 243px;
  }
  .models .model_card .card_brand span {
    font-size: 14px;
    left: 25px;
    top: 47%;
  }
  .models .model_card .card_img {
    display: flex;
    justify-content: center;
  }
  .models .model_card .card_img img {
    width: calc(100% - 60px);
    margin: 0 auto;
  }
  .models .model_card .card_right {
    width: 100%;
  }
  .models .model_card .old_cos {
    font-size: 15px;
  }
  .models .model_card .new_cost {
    width: 100%;
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
  }
  .models .model_card .new_cost span {
    font-size: 17px;
    margin-bottom: 4px;
  }
  .models .model_card .credit_cost {
    margin: 0;
    width: 100%;
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    margin-bottom: 16px;
  }
  .models .model_card .credit_cost span {
    font-size: 17px;
  }
  .models .model_card .card_btns .get {
    padding: 12px;
    font-size: 14px;
  }
  .models .model_card .card_btns .buy {
    padding: 12px;
    font-size: 14px;
  }
  .trade {
    background-image: none;
    position: relative;
    z-index: 1;
  }
  .trade .trade_mobile_bg {
    width: 100%;
    display: block;
    position: absolute;
    top: 109px;
    z-index: -1;
  }
  .trade::before {
    content: "";
    position: absolute;
    height: 206px;
    width: 100%;
    background: linear-gradient(360deg, rgba(83, 98, 108, 0) 0%, #495862 45.34%);
    top: 0;
    left: 0;
    z-index: 0;
  }
  .trade::after {
    content: "";
    position: absolute;
    height: 298px;
    width: 100%;
    background: linear-gradient(180deg, rgba(76, 88, 101, 0) 0%, rgba(56, 68, 81, 0.5) 6.69%, rgba(56, 68, 81, 0.8) 14.2%, #384451 23.15%);
    bottom: 0;
    left: 0;
    z-index: 0;
  }
  .trade_main {
    padding: 16px 0 21px;
    position: relative;
    z-index: 3;
  }
  .trade_title {
    margin-bottom: 11px;
  }
  .trade_title h2 {
    font-size: 28px;
  }
  .trade_text {
    margin-bottom: 240px;
  }
  .trade_text p {
    font-size: 18px;
    line-height: normal;
  }
  .trade_list {
    margin-bottom: 23px;
  }
  .trade_list li {
    font-size: 15px;
  }
  .trade_list li img {
    width: 16px;
  }
  .trade_formInfo {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 100%;
    margin-bottom: 8px;
  }
  .trade_formInfo input {
    font-size: 13px;
    padding: 12px 19px;
    margin: 0;
  }
  .trade_button a {
    width: 100%;
    font-size: 14px;
    padding: 12px;
    text-align: center;
  }
  .trade_checkbox {
    gap: 6px;
  }
  .trade_checkbox label, .trade_checkbox a {
    font-size: 8px;
  }
  .trade_checkbox label br, .trade_checkbox a br {
    display: none;
  }
  .credit {
    margin-top: 10px;
  }
  .credit .swiper {
    height: 690px;
  }
  .credit .credit_box {
    height: 690px;
    display: flex;
  }
  .credit .credit_item {
    width: 100%;
    padding: 20px;
  }
  .credit .card1 {
    text-align: left;
    background: none;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
  }
  .credit .card1 .card_mobile_bg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 454px;
    z-index: -2;
  }
  .credit .card1::before {
    content: "";
    position: absolute;
    height: 320px;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(180deg, rgba(34, 31, 32, 0) 6.11%, rgba(34, 31, 32, 0.5) 29.42%, #221F20 100%), linear-gradient(180deg, rgba(56, 68, 81, 0) 11.67%, #2E3A47 22.82%);
  }
  .credit_title h3 {
    font-size: 28px;
    margin-bottom: 11px;
  }
  .credit_text p {
    font-size: 19px;
    margin-bottom: 244px;
  }
  .credit .card1 ul {
    gap: 8px;
    margin-bottom: 23px;
  }
  .credit .card1 ul li {
    justify-content: start;
    flex-direction: row-reverse;
    font-size: 14px;
    margin: 0;
  }
  .credit .card1 ul li img {
    width: 16px;
  }
  .credit_formInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 8px;
  }
  .credit_formInfo input {
    margin: 0;
    padding: 12px 19px;
    font-size: 13px;
  }
  .credit_button a {
    font-size: 14px;
    padding: 12px;
  }
  .credit_checkbox label, .credit_checkbox a {
    font-size: 8px;
  }
  .credit_checkbox label br, .credit_checkbox a br {
    display: none;
  }
  .credit .card2 {
    background: url(../images/credit-card2.png);
    background-position: right -20%;
    background: none;
    position: relative;
    z-index: 0;
  }
  .credit .card2 .card_mobile_bg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 454px;
    z-index: -2;
  }
  .credit .card2::before {
    content: "";
    position: absolute;
    height: 320px;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(180deg, rgba(34, 31, 32, 0) 6.11%, rgba(34, 31, 32, 0.5) 29.42%, #221F20 100%), linear-gradient(180deg, rgba(56, 68, 81, 0) 11.67%, #2E3A47 22.82%);
  }
  .credit .card2 p {
    margin-bottom: 271px;
    max-width: 70%;
  }
  .credit .card2 ul {
    gap: 11px;
  }
  .credit .card2 ul li {
    margin: 0;
    gap: 14px;
    font-size: 16px;
  }
  .credit .card2 ul li img {
    width: 20px;
  }
  .credit .card2 .button a {
    font-size: 14px;
    padding: 12px;
  }
  section.trade, section.credit {
    display: none;
  }
  .accordion {
    display: block;
  }
  .equipment {
    padding-top: 20px;
  }
  .equipment h2 {
    font-size: 26px;
    margin-bottom: 20px;
  }
  .equipment .container:nth-child(2) {
    padding: 0;
  }
  .equipment .equipment_filters {
    gap: 8px;
  }
  .equipment .custom-select-wrapper {
    font-size: 13px;
  }
  .equipment_card {
    padding: 24px 20px 19px;
    background-image: url("../images/equipment_card_bg1.png");
    gap: 0;
  }
  .equipment_card .card_img {
    order: 2;
  }
  .equipment_card .card_img img {
    width: 100%;
  }
  .equipment_card .card_left {
    order: 1;
  }
  .equipment_card .card_left h3 {
    font-size: 26px;
  }
  .equipment_card .card_left p {
    font-size: 15px;
    margin-bottom: 24px;
  }
  .equipment_card .card_left ul {
    gap: 10px 30px;
  }
  .equipment_card .card_left li {
    font-size: 13px;
  }
  .equipment_card .card_left li img {
    max-width: 25px;
  }
  .equipment_card .card_right {
    order: 3;
  }
  .equipment_card .old_cost {
    display: none;
  }
  .equipment_card .new_cost {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    font-size: 28px;
  }
  .equipment_card .new_cost span {
    margin-bottom: 3px;
    font-size: 17px;
  }
  .equipment_card .new_cost .old_cost {
    display: block;
    margin-bottom: 3px;
    font-size: 17px;
  }
  .equipment_card .credit_cost {
    display: none;
  }
  .equipment_card .card_btns {
    gap: 8px;
  }
  .equipment_card .card_btns .get, .equipment_card .card_btns .buy {
    font-size: 14px;
    padding: 12px;
  }
  .equipment_more {
    padding: 10px 0;
  }
  .equipment_more a {
    font-size: 15px;
  }
  .contact {
    padding: 10px 0 0;
  }
  .contact h2 {
    font-size: 26px;
    margin-bottom: 20px;
  }
  .contact .contact_map {
    display: flex;
    flex-direction: column-reverse;
  }
  .contact .contact_map .container {
    position: static;
    transform: unset;
    padding: 0 0 2px;
  }
  .contact .contact_map .map_wrapper {
    height: 229px;
    width: 100%;
  }
  .contact .contact_map .map_wrapper .map {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
  }
  .contact .contact_map iframe {
    width: 100%;
    height: 229px;
  }
  .contact .contact_card {
    position: static;
    width: 100%;
    background: #4C5865;
  }
  .contact .contact_card ul {
    margin-bottom: 18px;
  }
  .contact .contact_card .logo {
    justify-content: start;
  }
  .contact .contact_card .request_call {
    text-align: center;
  }
  .footer_logo {
    order: 2;
  }
  .footer_logo a {
    display: none;
  }
  .footer_main {
    padding: 12px 0 0;
    display: flex;
    flex-direction: column;
  }
  .footer_main ul {
    order: 1;
    flex-direction: column;
    align-items: flex-start;
    gap: 9px;
    margin-bottom: 20px;
  }
  .footer_desc {
    order: 3;
  }
  .footer_link {
    order: 4;
  }
  .footer_text {
    order: 5;
  }
}/*# sourceMappingURL=main.css.map */